* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.taskDiv {
  display: flex;
  border: 1px solid black;
  margin-top: 10px;
  justify-content: space-between;
  padding: 0px 15px;
}
.optionsDiv {
  display: flex;
  align-items: center;
}
#editSection {
  display: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.card {
  background-color: rgb(255, 255, 255);
  width: 45%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* height: 60vh;
  max-height: 60vh; */
  margin: 40px 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.heading {
  background-color: rgb(228, 239, 239);
  text-align: center;
  padding: 10px 0px;
}

#taskForm {
  background-color: rgb(212, 212, 212);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  height: fit-content;
  padding: 20px 0px;
}

#taskForm input {
  width: 60%;
  margin-bottom: 20px;
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 1.2rem;
}
#taskForm button {
  width: 30%;
  padding: 10px 0px;
  background-color: rgb(0, 97, 194);
  color: white;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s ease;
}
#taskForm button:hover {
  background-color: rgb(0, 87, 174);
}
#taskForm button:active {
  box-shadow: none;
}

#taskListSection {
  background-color: cadetblue;
  overflow-y: scroll;
}
