.red {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
}
.orange {
  color: rgb(254, 115, 8);
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
}
#login-btn {
  margin-top: 40px;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: sans-serif;
}
