{% extends "base.html" %} {% block title %}Loading Static Filess{% endblock %}
{% block content %}
<body>
  <h1>Static File Loaded via Root Path</h1>
  <p>
    The image loads because the configuration sets the URL path for static files
    to <code>/</code>, meaning <code>/Images/arthurImage.jpg</code> maps
    directly to <code>Static/Images/arthurImage.jpg</code>.
  </p>
  <img
    src="/Images/arthurImage.jpg"
    alt="Arthur Image"
    height="300"
    width="500"
    style="border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)"
  />
  <p class="red">Red Text!</p>
  <p class="orange">Orange Text !</p>
</body>
<script src="/Scripts/script.js"></script>
{% endblock %}
